@page "/wallet"


<h2>Zarada</h2>
@if (CollapsedProfit)
{
	<span @onclick="@ToggleProfit" class="oi oi-plus mr-1" />
}
else
{
	<span @onclick="@ToggleProfit" class="oi oi-minus mr-1" />
}
@if (!CollapsedProfit)
{
	<Profit></Profit>
}
<br />
<hr class="solid">
<h2>Troškovi</h2>
@if (CollapsedExpenses)
{
	<span @onclick="@ToggleExpenses" class="oi oi-plus mr-1" />
}
else
{
	<span @onclick="@ToggleExpenses" class="oi oi-minus mr-1" />
}
@if (!CollapsedExpenses)
{
	<Expense></Expense>
}
<hr class="solid">
<h2>Imovina</h2>
@if (CollapsedAssets)
{
	<span @onclick="@ToggleAssets" class="oi oi-plus mr-1" />
}
else
{
	<span @onclick="@ToggleAssets" class="oi oi-minus mr-1" />
}
@if (!CollapsedAssets)
{
	<Asset></Asset>
}
<hr class="solid">

@code {
	private bool CollapsedProfit  = true;
	private bool CollapsedExpenses  = true;
	private bool CollapsedAssets  = true;
	

	void ToggleExpenses()
	{
		CollapsedExpenses = !CollapsedExpenses;
	}

	void ToggleAssets()
	{
		CollapsedAssets = !CollapsedAssets;
	}

	void ToggleProfit()
	{
		CollapsedProfit = !CollapsedProfit;
	}

}
